/* --------------------------------------- 
CSS Style Overrides
Author: Bruce Gemberling
Date: 12/04/2013
--------------------------------------- */

body {
	background-color: #f2f2f2;
    background-image: none;
	}
	
h2 {
	color: #000;
	font-family:'PT Sans';
	font-size: 26px !important;
	margin: 20px 0 10px 0 !important;
	text-shadow: none;
}

hr {
	display: none;
}

.ui-widget{
	font-family:'PT Sans' !important;	
}

caption {
    color: #999;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px !important;
    font-weight: 700;
    margin-bottom: 0 !important;
    padding-bottom: 5px;
    text-align: center !important;
    text-shadow: none;
}

.numeric {
	text-align: right !important;
}

#Vam thead tr:first-child th,
#Customers thead tr:first-child th,
#Magento thead tr:first-child th {
    font-family: 'PT Sans' !important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'PT Sans', sans-serif !important;
}

#Vam tr:last-child td:last-child ,
#Customers tr:last-child td:last-child ,
#Magento tr:last-child td:last-child {
    border-width: 1px 0 0 0 !important;
}	


#Magento {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #b7b7b7;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

#Magento table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

#Magento tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}

#Magento table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

#Magento table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}

#Magento tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}

#Magento tr:hover td{
	background-color:#ffffff;
}

#Magento td{
	vertical-align:middle;
	/*
	background:-o-linear-gradient(bottom, #e5e5e5 5%, #ffffff 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #e5e5e5 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#ffffff");	
	background: -o-linear-gradient(top,#e5e5e5,ffffff);
	*/
	background-color:#efefef;
	
	border:1px solid #b7b7b7;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:11px;
	font-size:17px;
	/*font-family: 'Inconsolata', sans-serif;*/
	font-weight:normal;
	color:#000000;
}

#Magento tr:last-child td{
	border-width:0 1px 0px 0px;
}

#Magento tr td:last-child{
	border-width:0 0px 1px 0px;
}

#Magento tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

#Magento thead tr:first-child th{
	background:-o-linear-gradient(bottom, #e5e5e5 5%, #b7b7b7 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #b7b7b7) );
	background:-moz-linear-gradient( center top, #e5e5e5 5%, #b7b7b7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#b7b7b7");	
	background: -o-linear-gradient(top,#e5e5e5,b7b7b7);

	background-color:#e5e5e5;
	border:0px solid #b7b7b7;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
}

#Magento  tr:hover td{
	/*
	background:-o-linear-gradient(bottom, #e5e5e5 5%, #b7b7b7 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #b7b7b7) );
	background:-moz-linear-gradient( center top, #e5e5e5 5%, #b7b7b7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#b7b7b7");	
	background: -o-linear-gradient(top,#e5e5e5,b7b7b7);
	*/
	background-color: #fff;
}

#Magento tr:first-child td:first-child{
	/*border-width:0px 0px 1px 0px;*/
}

#Magento tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


#Vam {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #b7b7b7;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

#Vam table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}

#Vam tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}

#Vam table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

#Vam table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}

#Vam tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}

#Vam tr:hover td{
	background-color:#ffffff;
}

#Vam td{
	vertical-align:middle;
	/*
	background:-o-linear-gradient(bottom, #e5e5e5 5%, #ffffff 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #e5e5e5 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#ffffff");	
	background: -o-linear-gradient(top,#e5e5e5,ffffff);
	*/
	background-color:#efefef;
	
	border:1px solid #b7b7b7;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:11px;
	font-size:17px;
	/*font-family: 'Inconsolata', sans-serif;*/
	font-weight:normal;
	color:#000000;
}

#Vam tr:last-child td{
	border-width:0px 1px 0px 0px;
}

#Vam tr td:last-child{
	border-width:0px 0px 1px 0px;
}

#Vam tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

#Vam thead tr:first-child th{
	background:-o-linear-gradient(bottom, #e5e5e5 5%, #b7b7b7 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #b7b7b7) );
	background:-moz-linear-gradient( center top, #e5e5e5 5%, #b7b7b7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#b7b7b7");	
	background: -o-linear-gradient(top,#e5e5e5,b7b7b7);

	background-color:#e5e5e5;
	border:0px solid #b7b7b7;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
}

#Vam tr:hover td{
	/*
	background:-o-linear-gradient(bottom, #e5e5e5 5%, #b7b7b7 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #b7b7b7) );
	background:-moz-linear-gradient( center top, #e5e5e5 5%, #b7b7b7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#b7b7b7");	
	background: -o-linear-gradient(top,#e5e5e5,b7b7b7);
	*/
	background-color: #fff;
}

#Vam tr:first-child td:first-child{
	/*border-width:0px 0px 1px 0px;*/
}

#Vam tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}









#Customers {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #b7b7b7;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

#Customers table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}

#Customers tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}

#Customers table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

#Customers table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}

#Customers tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}

#Customers tr:hover td{
	background-color:#ffffff;
}

#Customers td{
	vertical-align:middle;
	/*
	background:-o-linear-gradient(bottom, #e5e5e5 5%, #ffffff 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #e5e5e5 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#ffffff");	
	background: -o-linear-gradient(top,#e5e5e5,ffffff);
	*/
	background-color:#efefef;
	
	border:1px solid #b7b7b7;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:11px;
	font-size:17px;
	/*font-family: 'Inconsolata', sans-serif;*/
	font-weight:normal;
	color:#000000;
}

#Customers tr:last-child td{
	border-width:0px 1px 0px 0px;
}

#Customers tr td:last-child{
	border-width:0px 0px 1px 0px;
}

#Customers tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

#Customers thead tr:first-child th{
	background:-o-linear-gradient(bottom, #e5e5e5 5%, #b7b7b7 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #b7b7b7) );
	background:-moz-linear-gradient( center top, #e5e5e5 5%, #b7b7b7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#b7b7b7");	
	background: -o-linear-gradient(top,#e5e5e5,b7b7b7);

	background-color:#e5e5e5;
	border:0px solid #b7b7b7;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
}

#Customers tr:hover td{
	/*
	background:-o-linear-gradient(bottom, #e5e5e5 5%, #b7b7b7 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #b7b7b7) );
	background:-moz-linear-gradient( center top, #e5e5e5 5%, #b7b7b7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#b7b7b7");	
	background: -o-linear-gradient(top,#e5e5e5,b7b7b7);
	*/
	background-color: #fff;
}

#Customers tr:first-child td:first-child{
	/*border-width:0px 0px 1px 0px;*/
}

#Customers tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}