/* GLOBAL STYLES ACROSS ALL FORMS */

body {
	width:95%;
  margin:auto;
	font-size:15px;
	font-family: Segoe UI, Arial, sans-serif;
	background-image: url('groovepaper.png');
}

table {
  border-collapse:collapse;
  margin:auto;
  text-align:center;
  padding:10px;
  width:100%;
	font-family: 'UniversCondensed', Helvetica, Arial, sans-serif;
	color:#333;
}
caption {
	color: #A54F4F;
	font-size: 22px !important;
	text-align: center !important;
	text-shadow: 0 1px 0 grey;
  font-weight:bold;
	margin-bottom:0!important;
	font-weight:700;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	padding-bottom:5px;
}
table th, td {
  border: 1px solid black;
}

input {
	padding:5px;
	border: 1px solid #0074C7;
	border-radius: 3px;
	font-size: 16px;
	margin: 2px;
}
checkbox {
	padding: 2px;
	border: 1px solid black;
}
legend {
	background-color: #FEDB66;
	border: 2px solid #0074C7;
	border-radius: 3px 3px 3px 3px;
	color: #4C3000;
	font-size: 20px;
	font-weight: 700;
	padding: 5px 20px;
}
fieldset {
	border: 2px solid #0074C7;
	background-color: #EDEDED;
	margin: 15px;
	background: -webkit-linear-gradient(90deg, #E6F0FA, #FFFFFF) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(90deg, #E6F0FA, #FFFFFF) repeat scroll 0 0 transparent;
}
fieldset input select {
	margin:5px;
}
.numeric {
	text-align:right;
}
input[readonly="readonly"] {
	background-color: #E0E0EB;
	color: black;
}
a {
	color:#0074C7;
	text-decoration:none;
	-moz-transition: color 0.2s ease-out 0s;
	-webkit-transition: color 0.2s ease-out 0s;
	-ms-transition: color 0.2s ease-out 0s;
	transition: color 0.2s ease-out 0s;
}
a img {
	text-decoration:none;
}
.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -50px; /* half width of the loader gif */
	margin-top: -50px; /* half height of the loader gif */
	text-align:center;
	z-index:9999;
	overflow: auto;
	width: 100px; /* width of the loader gif */
	height: 102px; /*hight of the loader gif +2px to fix IE8 issue */
}
select {
	width:180px;
	/*max-width:180px;*/
	padding: 5px;
	border: 1px solid #0074C7;
	border-radius: 3px 3px 3px 3px;
	font-family: 'UniversCondensed', Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 2px 0;
}
h2 {
	color: #0074C7;
	font-size: 34px !important;
	text-align: center !important;
	text-shadow: 0 1px 0 grey;
	margin-bottom:0!important;
}
textarea {
	border: 1px solid #B88A00;
	border-radius: 3px 3px 3px 3px;
	font-family: 'UniversCondensed', Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 2px 0;
	padding: 5px;
}
hr {
	display: block;
	position: relative;
	padding: 0;
	margin: 8px auto;
	width: 100%;
	clear: both;
	border: none;
	border-top: 1px dashed #AAA;
	border-bottom: 1px dashed #FFF;
	font-size: 1px;
	line-height: 0;
	overflow: visible;
}


#warningDisplay {
	background-color: #F2F2F2!important;
	border: 3px solid red!important;
	border-radius: 5px;
	box-shadow: 0 0 10px #FC4A14;
	color: #FC4A14;
	font-size: large;
	font-weight: bold;
	padding: 5px;
	width: 475px!important;
}
.warning {
	position: fixed;
	top: 40%;
	left: 50%;
	margin-left: -250px; /* half width of the loader gif */
	z-index:9999;
}
/* Dynamic style applied to text boxes onFocus */
.selectedBox {
	background-color:#BFFFF5;
	background-color:#FFFF75;
}
