  <div class="menuHolder">
    <?php 
      if (isset($_SESSION['username']) && !empty($_SESSION['username'])) { 
        ?>
        <div style="float:right">
          <form name="LogoutForm" style="display:inline" method="POST" action="<?php echo (isset($_SESSION['vendorid'])?'VendorLoginForm.php':'LoginForm.php') ?>">
            <input name="LogoutButton" id="LogoutButton" type=submit value = "Logout" style="font-weight:bold" />
          </form>
        </div>
        <?php
      }
    ?>
  </div>
  <h2><?php echo $pageTitle ?></h2>
  <hr/>
  <?php if (!empty($errorMsg)){ ?>
    <div style="color:red;font-weight:bold;width:50%;margin:auto;text-align:center;border:1px dashed gray;background-color:#FFDFDF">
      <?php echo $errorMsg; ?>
    </div>
  <?php } ?>
  <?php if (!empty($warningMsg) && $_POST['retrieveButton'] == 'Load Customer'){ ?>
    <div id="warningDisplay" class="warning" style="display:none;color:#FC4A14;font-weight:bold;width:500px;text-align:center;border:1px dashed gray;background-color:#FCFC97;padding:5px;font-size:large">
      <?php echo $warningMsg; ?><br/>
      <button id="WarningDisplayButton" onclick="$('#warningDisplay').fadeOut(700);">Close</button>
    </div>
  <?php } ?>
  <?php if (!empty($successMsg)){ ?>
    <div id="successMsgDiv" style="color:green;font-weight:bold;width:50%;margin:5px auto;text-align:center;border:1px dashed gray;background-color:#C2EFD5;padding:5px">
      <?php echo $successMsg; ?>
    </div>
  <?php } ?>

  <div id="loader" class="loader" style="display:none;width:132px;height:132px;">
    <img id="img-loader" src="js/ajax-loader.gif" width="132" height="132" alt="Loading"/>
	</div>
  <div id="validationMsg" style="color:red;font-weight:bold;display:none;border:1px solid red;background-color:#FFDFDF;text-align:center;margin:5px auto;width:50%"></div>

