<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<?php

include_once('Functions/HTMLFunctions.php');
$pageTitle = 'RDI Magento->AM Inventory Importer';
?>
<head>
  <?php include_once('FormCommonHead.phtml'); ?>
  <script type="text/javascript">
    $(function() 
      { 
       //$('#InventoryTable').dataTable();
      }
    );
    
    function checkall(checked, elementList){
      $(elementList).each( function(){
      
        if (!checked){
          $(this).removeAttr('checked');
        } else {
          $(this).attr('checked',true);
        }
        
        $(this).change();
      });                  
    }
    
    function SyncItems(){
    
      var itemList = $('input[type="checkbox"][name="itemList[]"]:checked');
      
      if (itemList.length == 0){
        alert('Please select at least one order for export.');
      } else {
                
        var numberArray = new Array();
        $.each(itemList, function(index,value){
          numberArray.push($(value).val());
        });
        
        var itemTotal = numberArray.length;
        var processedTotal = 0;
        
        $('#progressCount').html('Syncing '+itemTotal+' Items. '+processedTotal+'/'+itemTotal+' Completed');
        $('#progressImage').show();
        $('#progressDetails').html('');
        var progressDialog = $('#progressDialog').dialog({width: 700, height : 400, title : "Import Progress"});
        
        while (numberArray.length > 0){
        
          var sendList = new Array();
          sendList = numberArray.slice(0,10);
          numberArray = numberArray.slice(10);         
          
          $.ajaxSetup({async:false});   
          $.post('Ajax/AjaxPerformSync.php',{ 'itemList' : sendList, type : 'Inventory' },
          function(data){ 
          
            if (data.substring(0,5) == 'ERROR'){
              alert(data);
              return false; 
            } else {
              
              resultArray = $.parseJSON(data);

              $.each(resultArray,function(index,value){              
                $('#progressDetails').append('<div style="margin-top:10px;width:100%;text-align:left">'+index+' = '+value+'</div>');              
              });
              
              processedTotal += sendList.length;
              $('#progressCount').html('Syncing '+itemTotal+' Items. '+processedTotal+'/'+itemTotal+' Completed');
              $('#progressImage').hide();
            }          
          });

          var buttons = progressDialog.dialog("option", "buttons"); // getter
          $.extend(buttons, { 'Close': function () { 
            $(this).dialog('close'); 
            //$('#InventoryTable > tbody').html('<tr id="loadRow" style="text-align:center"><td colspan="100%"><img src="js/ajax-loader.gif" id="loadgif" /><br/>DOWNLOADING MAGENTO ORDERS...</td></tr>');            
            location.reload(true);
          } });
          progressDialog.dialog("option", "buttons", buttons); // setter
        }
      }      
    }
  </script>
</head>
<body>
  <?php include_once('FormCommonBody.phtml'); ?>
  <div id="tabStrip" style="vertical-align: middle; width: 100%;">
    <ul>
      <li><a href="#Inventory" tabindex=13>Inventory</a></li>
    </ul>  
    
    <div id="Inventory">
      <form method=POST action="PerformSync.php" target="_blank">
      <input type=hidden name="syncType" value="Inventory" />
      <input type=hidden name="syncMode" value="<?php echo $syncMode ?>" />
      <table id="InventoryTable" style="text-align:left">      
        <caption>AM->Magento Inventory</caption>
        <thead style="text-align:center;vertical-align:bottom;">
          <tr>
            <th>Select <input type=checkbox onclick="checkall($(this).attr('checked'),$('input[type=checkbox]'))" /></th>
            <th>SKU</th>
            <th>Type</th>
            <th>Model</th>
            <th>VAM Price</th>
            <th>VAM Stock</th>
            <?php if ($_POST['UpdateInventoryButton'] == 'Update Magento Inventory' && $syncResult[0] && count($syncResult) > 0) echo '<th>Update Result</th>'; ?>
          </tr>
        </thead>
        <tbody>
        <?php
          foreach ($vamItemArray as $itemNumber => $itemInfo) {

            //$magitem = GetMagentoItem($itemNumber);
            
            $maginv = Array();
            if ($magitem[0]){
              $maginv = $magitem[1];
            }
            
            echo '<tr>'.                  
              '<td style="text-align:center"><input type=checkbox name=itemList[] value="'.$itemNumber.'" /></td>'.
              '<td>'.$itemNumber.'</td>'.
              '<td>'.$itemInfo['cprodline'].'</td>'.
              '<td>'.$itemInfo['ctype'].'</td>'.
              '<td class="numeric">'.number_format($itemInfo['nprice'],2).'</td>'.
              '<td class="numeric">'.number_format($itemInfo['stock'],0).'</td>'.
              '</tr>';               
          }                
        ?>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7" style="text-align:center">
              <button onclick="SyncItems();return false;">Update Magento Inventory</button>
            </td>
          </tr>
        </tfoot>
      </table>   
      </form>
    </div>
  </div>
  <div id="progressDialog" style="display:none">
    <div id="progressCount" style="font-weight:bold;text-align:center;font-size:16px;text-decoration:underline"></div>
    <div id="progressIndicator" style="text-align:center">
      <img id="progressImage" src="js/ajax-loader.gif" id="loadgif" style="height:20px;width:20px">
    </div>
    <table id="progressDetails">
    
    </table>
  </div>
</body>
</html>