<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<?php

include_once('Functions/HTMLFunctions.php');
$pageTitle = 'RDI Magento->AM Sales Order Importer';
?>
<head>
  <?php include_once('FormCommonHead.phtml'); ?>
  <script type="text/javascript">
    $(function() 
      {
        GetMagentoOrders();
        //GetAMOrders();
        //GetAMCustomers();
      }
    );
    
    function GetMagentoOrders(){
      $.post('Ajax/AjaxGetMagento2Orders.php',{ type : 'SalesOrder' }, function(data){ 
          $('#magorders > tbody').html(data);
          $('#loadRow').toggle();
      });              
    }
    
    function GetAMOrders(){
      $.post('Ajax/AjaxGetAMOrders.php',{  }, function(data){ 
          $('#vamorders > tbody').html(data);
      });              
    }

    function GetAMCustomers(){
      $.post('Ajax/AjaxGetAMCustomers.php',{  }, function(data){ 
          $('#customerlist > tbody').html(data);
      });              
    }

    function checkall(checked, elementList){
      $(elementList).each( function(){
      
        if (!checked){
          $(this).removeAttr('checked');
        } else {
          $(this).attr('checked',true);
        }
        
        $(this).change();
      });                  
    }
    
    function ExportOrders(){
    
      var orderList = $('input[type="checkbox"][name="magorders[]"]:checked');
      
      if (orderList.length == 0){
        alert('Please select at least one order for export.');
      } else {
                
        var numberArray = new Array();
        $.each(orderList, function(index,value){
          numberArray.push($(value).val());
        });
        
        var orderTotal = numberArray.length;
        var processedTotal = 0;
        
        $('#progressCount').html('Importing '+orderTotal+' Orders. '+processedTotal+'/'+orderTotal+' Completed');
        $('#progressImage').show();
        $('#progressCompletion').hide();
        $('#progressDetails').html('');
        var progressDialog = $('#progressDialog').dialog({width: 700, height : 400, title : "Import Progress"});
        
        while (numberArray.length > 0){
        
          var sendList = new Array();
          sendList = numberArray.slice(0,10);
          numberArray = numberArray.slice(10);         
          
          $.ajaxSetup({async:false});   
          $.post('Ajax/AjaxPerformSync.php',{ 'itemList' : sendList , type : 'SalesOrder'},
          function(data){ 
          
            if (data.substring(0,5) == 'ERROR'){
              alert(data);
              return false; 
            } else {
              
              resultArray = $.parseJSON(data);

              $.each(resultArray,function(index,value){              
                $('#progressDetails').append('<div style="margin-top:10px;width:100%;text-align:left">'+index+' = '+value+'</div>');              
              });
              
              processedTotal += sendList.length;
              $('#progressCount').html('Importing '+orderTotal+' Orders. '+processedTotal+'/'+orderTotal+' Completed');
              $('#progressImage').hide();
              $('#progressCompletion').show();              
            }          
          });

          var buttons = progressDialog.dialog("option", "buttons"); // getter
          $.extend(buttons, { 'Close': function () { 
            $(this).dialog('close'); 
            $('#magorders > tbody').html('<tr id="loadRow" style="text-align:center"><td colspan="100%"><img src="js/ajax-loader.gif" id="loadgif" /><br/>DOWNLOADING MAGENTO ORDERS...</td></tr>');            
            GetMagentoOrders(); 
            GetAMOrders();
            GetAMCustomers();
          } });
          progressDialog.dialog("option", "buttons", buttons); // setter
        }
      }      
    }
  </script>
</head>
<body>
  <?php include_once('FormCommonBody.phtml'); ?>
  <div id="tabStrip" style="vertical-align: middle; width: 100%;">
    <ul>
      <li><a href ="#Magento" tabindex=12 >Magento</a></li>
      <li><a href="#Vam" tabindex=13>AM</a></li>
      <li><a href="#Customers" tabindex=13>Customers</a></li>
      <!--<li><a href="#Inventory" tabindex=13>Inventory</a></li>-->
    </ul>  
    
    <div id="Magento">
      <table style="text-align:left;" id="magorders">
        <caption>Magento Orders</caption>
        <thead style="text-align:center;vertical-align:bottom;">
          <tr>
            <th>Select<br/><input type=checkbox onclick="checkall($(this).attr('checked'),$('.importselect'))" /></th>
            <th>Magento Order #</th>
            <th>Order Date</th>
            <th>Customer<br>Number</th>
            <th>Billing<br>Name</th>
            <th>Total $</th>
            <th>Status</th>
            <th>Shipping</th>
          </tr>
        </thead>
        <tbody>
          <tr id="loadRow" style="text-align:center">
            <td colspan="100%">
              <img src="js/ajax-loader.gif" id="loadgif" /><br/>
              DOWNLOADING MAGENTO ORDERS...
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="100%" style="text-align:center">
              <button name="ExportButton" onclick="ExportOrders();return false">Export Orders to AM</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    
    <div id="Vam" >
      <table style="text-align:left" id="vamorders">
        <caption>Magento->AM Orders</caption>
        <thead style="text-align:center;vertical-align:bottom;">
          <tr>
            <th>AM #</th>
            <th>Magento #</th>
            <th>Order Date</th>
            <th>Customer<br>Number</th>
            <th>Customer<br>Name</th>
            <th>Total $</th>
            <th>Billing</th>
            <th>Shipping</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    
    <div id="Customers">
      <table style="text-align:left" id="customerlist">      
        <caption>Magento->AM Customers</caption>
        <thead style="text-align:center;vertical-align:bottom;">
          <tr>
            <th>AM ID</th>
            <th>MAG ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  <div id="progressDialog" style="display:none">
    <div id="progressCount" style="font-weight:bold;text-align:center;font-size:16px;text-decoration:underline"></div>
    <div id="progressIndicator" style="text-align:center">
      <img id="progressImage" src="js/ajax-loader.gif" id="loadgif" style="height:20px;width:20px">
      <div id="progressCompletion" style="display:none">Please review the results below for errors. Click Close when done.</div>
    </div>
    <table id="progressDetails">
    
    </table>
  </div>
  
</body>
</html>